@keyframes tail {
  5% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  70%,
  100% {
    transform: rotate(0);
  }
}

@keyframes eye-move {
  0% {
    transform: scaleY(1);
  }
  5% {
    transform: scaleY(0);
  }
  10%,
  100% {
    transform: scaleY(1);
  }
}
